<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.educationfoundation.votingsystem.dao.ActivityImagesDao">
    <resultMap id="activityImagesMap" type="cn.edu.cqupt.educationfoundation.votingsystem.model.po.ActivityImagesPo">
        <id property="activityImageId" column="id"/>
        <result property="activityId" column="activity_id"/>
        <result property="message" column="message"/>
        <result property="url" column="url"/>
    </resultMap>
</mapper>
   